/* CartItem.css */
.noItem {
  font-size: 22px;
  text-align: center;
  line-height: 1.3;
  padding-top: 50px;
}

.removeAll {
  text-align: right;
  margin-bottom: 30px;
}

.removeAll > button {
  background-color: #fff;
  border: 1px solid #a39e99;
  padding: 8px 25px;
  transition: all .25s;
  font-size: 18px;
}

.removeAll > button:hover {
  background-color: rgba(255,255,255,.5);
}

.removeAll > button svg {
  font-size: 20px;
  vertical-align: -3px;
  padding-right: 3px;
}

.cartlistItem > li {
  border-bottom: 1px solid #a39e99;
  box-sizing: border-box;
  padding: 40px;
  background-color: #fff;
}

.cartlistItem > li:last-child {
  border-bottom: 0 none;
}

.cartlistItem figure {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.cartlistItem figure > div {
  width: 20%;
}

.cartlistItem figure > div img {
  width: 100%;
}

.cartlistItem figcaption {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cartlistItem figcaption dl {
  box-sizing: border-box;
  padding: 0 50px;
}

.cartlistItem figcaption dt {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.cartlistItem figcaption dd {
  font-size: 40px;
  font-weight: bold;
  color: #ec7900;
}

.cartlistItem .removeItem {
  font-size: 50px;
}